.bundles {
  display: flex;
  align-items: center;
  padding-top: calc(2 * var(--ifm-card-vertical-spacing));
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.bundleCardContainer {
  margin-bottom: calc(2 * var(--ifm-card-vertical-spacing));
}

.bundleCard {
  height: 100%;
}

.legend {
  margin-bottom: 1rem;
}

.toolInfoButton {
  margin-top: calc(0.5 * var(--ifm-card-vertical-spacing));
}
