.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

.features,
.example {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  margin-top: 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .features,
  .example {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.buttons {
  display: flex;
}

.seeMoreLink {
  margin-top: 10px;
}
