@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Zilla+Slab&family=Source+Code+Pro:ital@0;1&display=swap");

:root {
  --ifm-color-primary: #89b400;
  --ifm-color-primary-dark: #7ba200;
  --ifm-color-primary-darker: #749900;
  --ifm-color-primary-darkest: #607e00;
  --ifm-color-primary-light: #97c600;
  --ifm-color-primary-lighter: #9ecf00;
  --ifm-color-primary-lightest: #b2ea00;
  --ifm-link-color: #628000;

  --ifm-font-family-base: Lato, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-heading-font-family: "Zilla Slab", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-heading-font-weight: 500;
  --ifm-font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --ifm-h2-font-size: 1.85rem;
  --ifm-h3-font-size: 1.7rem;
  --ifm-h4-font-size: 1.3rem;
  --ifm-h5-font-size: 1.2rem;

  --ifm-menu-link-sublist-icon-filter: opacity(50%);
}

ol {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}

ol > li {
  counter-increment: item;
  padding-left: var(--ifm-list-left-padding);
}

ol > li:before {
  margin-left: calc(-1 * var(--ifm-list-left-padding) - 11px);
  content: counter(item) ".";
  position: absolute;
  font-weight: var(--ifm-font-weight-bold);
  width: calc(var(--ifm-list-left-padding));
  text-align: right;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__title {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 200%;
}

/* Line up the left edge of the logo with the left edge of the docs sidebar */
@media (min-width: 997px) {
  .navbar__logo {
    margin-left: calc(var(--ifm-menu-link-padding-horizontal) - 8px);
  }
}

.menu > ul.menu__list > li.menu__list-item > .menu__list-item-collapsible > a {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 130%;

  margin-top: calc(3 * var(--ifm-menu-link-padding-vertical));
  color: black;
}

.menu__link > a,
.menu__list-item > a {
  padding-right: calc(0.5 * var(--ifm-menu-link-padding-horizontal));
}

.menu > ul.menu__list > li.menu__list-item > .menu__list-item-collapsible:hover,
.menu > ul.menu__list > li.menu__list-item > .menu__list-item-collapsible:active {
  background: none;
}

.menu > ul.menu__list > li.menu__list-item:first-of-type > .menu__list-item-collapsible > a {
  margin-top: 0;
}

.menu__list .menu__list {
  margin-left: 0;
  padding-left: 0;
}

.menu__list .menu__list .menu__list {
  margin-left: var(--ifm-menu-link-padding-horizontal);
}

.menu__list-item {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.admonition-heading h5 {
  font-size: 1rem;
}

.DocSearch-Button,
input[type="search"] {
  font-family: var(--ifm-font-family-base);
}

.DocSearch-Button-Placeholder {
  margin-bottom: 2px;
}
